/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

main > .container {
  padding: 60px 15px 0;
}

/* typography */



/* footer */

.footer {
  background-color: #f5f5f5;

  > .container {
  padding: 0 15px;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}